{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
{% endblock %}

{% block page_title %}
Dodaj Proizvod
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-md-3">
        <h1 class="text-center">{% trans "Add product" %}</h1>
        <form action="{% url 'add_product' %}" method="POST" novalidate>
          {% csrf_token %}
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="col-form-label">{{ form.product_name.label }}</div>
            </div>
            <div class="col-auto">
              <div class="form-control">{{ form.product_name }}</div>
            </div>
            <div class="col-auto" >
              <p>{{ form.product_name.errors }}</p>
          </div> 
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <div class="col-form-label">{{ form.product_category.label }}</div>
            </div>
            <div class="col-auto">
              <div class="form-control">{{ form.product_category }}</div>
            </div>
            <div class="col-auto" >
              <p>{{ form.product_category.errors }}</p>
          </div> 
          </div>
        </div>
        <button class="btn btn-success my-3 px-3 text-white text-decoration-none fw-bold" type="submit">{% trans "Add product" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}