{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
{% endblock %}

{% block page_title %}
Dodaj Proizvod
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-md-3">
        <p><h1>{% trans "Add product" %}</h1></p>
        <form action="{% url 'add_product' %}" method="POST" novalidate>
          {% csrf_token %}
              <label class="form-label">{{ form.product_name.label }}</label>
              <p class="form-control-lg">{{ form.product_name }}</p>
                <div class="col-auto" style="color: red;" >
                  <p>{{ form.product_name.errors }}</p>
                </div> 
              <label class="form-label">{{ form.product_category.label }}</label>
              <p class="form-control-lg">{{ form.product_category }}</p>
                <div class="col-auto" style="color: red;" >
                  <p>{{ form.product_category.errors }}</p>
              </div> 
        <button class="btn btn-success my-3 px-3 text-white text-decoration-none fw-bold" type="submit">{% trans "Add product" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}