{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Welcome page
{% endblock %}

{% block css_files %}
{% endblock %}


{% block content %}
<div class="p-5 text-center">
<h1 class="border border-secondary p-5 border-3 rounded">{% trans "Welcome to our page" %}</h1>
<button type="button" class="btn btn-primary m-3"><a class="text-white text-decoration-none fw-bold m-3 p-3" href="{% url 'login' %}">{% trans "Login" %}</a></button>
<button type="button" class="btn btn-success m-3"><a class="text-white text-decoration-none fw-bold m-3 p-3" href="{% url 'register' %}">{% trans "Register" %}</a></button>
</div>
{% endblock %}