{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}
Login
{% endblock %}

{% block css_files %}
{% endblock %}


{% block content %}

<style>
    .center-input .form-control {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <p><h2>{% trans "Login" %}</h2></p>
            <form method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                {% for field in form %}
                        <label for="" class="form-label">{{ field.label_tag }}</label> 
                            <p class="form-control-lg">{{ field }}</p>
                        <div class="col-auto" style="color: red">
                            <p>{{ field.errors }}</p>
                        </div> 
                {% endfor %}
                <p style="color: red;">{{ error_message }}</p>
                <div class="col-sm-6"></div>
                <button class="btn btn-success my-3 px-3 text-white text-decoration-none fw-bold" type="submit">{% trans "Login login form button" %}</button><br> 
                <button class="btn btn-success my-3 px-3"> 
                    <a class="text-white text-decoration-none fw-bold" href="{% url 'register' %}">{% trans "Register button" %}</a></button> 
                </div>  
            </form>        
        </div> 
    </div>
</div>

<script>
    window.addEventListener("beforeunload", function(e) {
        // Make AJAX request to logout
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'logout' %}", false); // Synchronous request
        xhr.send();
    });
</script>


{% endblock %}


    