{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
{% endblock %}

{% block page_title %}
Edit product
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-md-3">
        <p><h1>{% trans "Edit product" %}</h1></p>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <label for="" class="form-label">{{ field.label_tag }}</label>
                <p class="form-control-lg">{{ field }}</p>
                    <div class="col-auto" style="color: red;" >
                    <p>{{ field.errors }}</p>
                    </div> 
            {% endfor %}
              <input class="btn btn-success my-3 px-3 text-white text-decoration-none fw-bold" type="submit" value="Ažuriraj"><br>
        </form>
    </div>
  </div>
</div>
{% endblock %}