{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
{% endblock %}

{% block page_title %}
Edit product
{% endblock %}

{% block content %}
<div class="container p-5" style="max-width: 500px;">
<h1 class="ms-1 p-2 text-start">{% trans "Edit product" %}</h1>
<form class="form-group" action="" method="POST">
    {% csrf_token %}
    <table>
      <div class="row p-3 text-start">
        <div class="col sm-3">{{ form.product_name.label }}</div>
        <div class="col sm-9">{{ form.product_name }}</div>
        </div>
        <div class="row p-3">
          <div class="col sm-3">{{ form.product_category.label }}</div>
          <div class="col sm-9">{{ form.product_category }}</div>
          </div>
    <input class="btn btn-success text-white ms-3 p-2 px-4 mt-3 fw-bold" type="submit" value="Ažuriraj">
</div>
</form>
</div>
{% endblock %}