{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}{% endblock %}

</head>

<body class="bg-secondary bg-opacity-25">

<nav class="navbar navbar-expand-sm bg-primary bg-opacity-75">
    <div class="container-fluid">
        <div class="collapse-navbar-collapse justify-content-end">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item p-1 pe-5 ps-2">
             <img src="{% static "images/Logo2.JPG" %}" class="img-fluid img-thumbnail"
                        alt="Green image" width="75px" height="60px">
                </li> 
                <!-- <li class="nav-item pt-3 pe-5 fw-bold">
                    <a href="{% url "index" %}" class="nav-link link-dark">Index</a>
                </li>
                <li class="nav-item pt-3 pe-5 fw-bold">
                    <a href="{% url "login" %}" class="nav-link link-dark">Login</a>
                </li> -->
                </ul>
            </div>
     </div>
</nav>

    {% block content %}
    {% endblock %}


</body>
</html>